{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Kalani's Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/koala for csp.png') }}" alt="Koala" height="250">
                    <div class="card-body">
                    <h5 class="card-title">All About Kalani Cabral-Omana</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am a Junior at Del Norte High School</li>
                            <li>I like to play soccer, hang out with friends, and surf in my free time</li>
                            <li>I was born and raised in San Diego, California</li>
                            <li>My birthday is April 18, 2006</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/dnhslogo.jpg') }}" alt="DNHS" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My class schedule</h5>
                    <p class="card-text">
                        <ol>
                            <li>Period 1: AP Physics</li>
                            <li>Period 2: American Literature</li>
                            <li>Period 3: AP Calculus AB</li>
                            <li>Period 4: AP Computer Science Principles</li>
                            <li>Period 5: Offrole</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/beach.jpg') }}" alt="Beach" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My favorite things</h5>
                    <p class="card-text">
                        <ol>
                            <li>I like to go to the beach anytime of the year</li>
                            <li>I like to play video games in my free time</li>
                            <li>My favorite color is green</li>
                            <li>My favorite food is pizza</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <style>
        img {
            object-fit: cover;
        }
    </style>
{% endblock %}