<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Personal Links" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>More about me</strong></h1>
        <p class="text-secondary">I'm Kalani Cabral-Omana and heres one of my most favorite pictures and some of my personal links. </p>

        <div>
            <img src="{{ url_for('static', filename='assets/koala for csp.png') }}" class="img-thumbnail" alt="...">
            <img src="{{ url_for('static', filename='assets/yoyo.jpg') }}" class="img-thumbnail" alt="...">
            <img src="{{ url_for('static', filename='assets/koala popsicle pfp.jpg') }}" class="img-thumbnail" alt="...">
        </div>
    </div>
    
    
    <a href= "https://kalanicabralomana.github.io/Fastpages/" class= "btn btn-primary">Click to see my Blog!</a>
    <a href= "https://github.com/kalanicabralomana" class= "btn btn-primary">Click to see my GitHub!</a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Period</th>
            <th scope="col">Class</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>AP Physics</td>
            <td>8:35</td>
            <td>9:44</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Am Lit</td>
            <td>9:49</td>
            <td>10:58</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>AP Calculus AB</td>
            <td>11:13</td>
            <td>12:22</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>AP CSP</td>
            <td>12:57</td>
            <td>14:06</td>
          </tr>
        </tbody>
      </table>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
